.nav-bar {
  color: rgb(255, 255, 255);
  background-color: #046f8b;
  display: flex;
  flex-direction: row;
  padding: 1rem 5rem;
  font-weight: 500;
  font-size: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.nav-bar .logo {
  height: 4rem;
  width: auto;
}

.nav-bar .menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.nav-bar a {
  color: white;
}

.nav-bar a:hover {
  color: #f0f0f0;
}

.nav-bar .ham-menu {
  position: relative;
  display: flex;
  flex-direction: column;
}

.nav-bar #topnav {
  display: none;
}

.nav-bar .loggedIn {
  background-color: #f0f0f0;
  color: #046f8b;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.nav-bar .loggedIn:hover {
  text-decoration: underline;
  color: #046f8b;
}

.nav-bar .topnav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 12rem;
  top: 4rem;
  left: -2rem;
  overflow: visible;
  gap: 0.5rem;
}
.nav-bar .drop-link {
  background-color: #f0f0f0;
  color: #046f8b;
  border: #046f8b 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.nav-bar .drop-link:hover {
  text-decoration: underline;
  color: #036077;
}
